*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #d6dde7;
    font-family: 'calibri';
}

header{
    background: #575757;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

footer {
    background-color: #575757;
    padding: 10px;
    text-align: right;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 55px;
    color: rgb(255, 255, 255);
}

#nombre{
    color: rgb(255, 49, 49);
    position: relative;
    padding-left:860px;
}

#nombre2{
    color: rgb(255, 255, 255);
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 70px;
    padding-left:860px;
}

.menu{
    width: 1000px;
    margin: 0 auto;
}

img{
    width: 90px;
    float: left;
    padding: 0px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight:bold;
}

h1{
    padding-left:894px;

}

#menu1{
    display:inline;
    padding-right:40px;
}

#menu2{
    display:inline;
    padding-left:30px;
    padding-right:40px;
}

#menu3{
    display:inline;
    padding-left:30px;
    padding-right:40px;
}

#menu4{
    display:inline;
    padding-left:30px;
    padding-right:40px;
}

#menu5{
    display:inline;
    padding-left:305px;
    padding-right:40px;
}

#menu6{
    display:inline;
    padding-left:30px;
    padding-right:40px;
}
