*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-image: url(/Multimedia/fondo_blog.jpg);
    font-family: 'calibri';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #575757;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: auto;
}


nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight:bold;
}

header{
    background: #575757;
    width: 100%;
    display: flex;
    align-items: center;
    height: 2.2cm;   
}

#logo{
    height: 125px;
    align-items: center;
    text-align: left;
}

#nombre{
    display: flex;
    color: rgb(255, 49, 49);
    text-align: left;
}

.menu{
    display: flex;
    width: 100%;
}

header nav li{
    display: flex;
    display: inline-block;
    padding: 0 100px;
}

.contenedor{
    display: flex;
    width: 50%;
    margin-top: 2%;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    color: #fff;
    text-align: center;    
}

h2, h4{
    text-align: center;
}
