*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/Multimedia/fondo_podcast.jpg);
    font-family: 'calibri';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}


footer {
    background-color: #575757;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: auto;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    color: #fff;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight:bold;
}

header{
    background: #575757;
    width: 100%;
    display: flex;
    align-items: center;
    height: 2.2cm;  
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    color: #fff; 
}

#logo{
    height: 125px;
    align-items: center;
    text-align: left;
}

#nombre{
    display: flex;
    color: rgb(255, 49, 49);
    text-align: left;
}

.menu{
    display: flex;
    width: 100%;
}

header nav li{
    display: flex;
    display: inline-block;
    padding: 0 100px;
}

.videos{
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-top: 5.5%;
}

#opinion{
    display: flex;
    width: 33%;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    color: #fff;
}

#YT{
    display: flex;
    width: 33%;
    margin-left: 1%;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    color: #fff;
}

.comentarios{
    display: flex;
    justify-content: center;
    align-content: space-between;
   
}

.comentario1{
    display: flex;
    position: relative;
    width: 19.5%;
    margin-left: -35%;
    margin-top: 1%;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    color: #fff;
}

.comentario2{
    display: flex;
    position: absolute;
    width: 24.5%;
    margin-top: 1%;
    margin-left: 35%;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    color: #fff;
}