*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #e2e2e2;
    font-family: 'calibri';
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background: #575757;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

footer {
    bottom: 0;
    background-color: #575757;
    padding: 10px;
    text-align: right;
    position: absolute;
    width: 100%;
    height: 55px;
    color: rgb(255, 255, 255);
}

#nombre{
    color: rgb(255, 49, 49);
}

.menu{
    width: 1000px;
    margin: 0 auto;
}

img{
    width: 90px;
    float: left;
    padding: 0px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight:bold;
}

#menu1{
    display:inline;
    padding-right:40px;
}

#menu2{
    display:inline;
    padding-left:30px;
    padding-right:40px;
}

#menu3{
    display:inline;
    padding-left:30px;
    padding-right:40px;
}

#menu4{
    display:inline;
    padding-left:30px;
    padding-right:40px;
}

#menu5{
    display:inline;
    padding-left:305px;
    padding-right:40px;
}

#menu6{
    display:inline;
    padding-left:30px;
    padding-right:40px;
}


.contenedor{
    display: flex;
    width: 50%;    
}

h2, h4{
    text-align: center;
}