* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/Multimedia/Fondo_podcast.jpg);
    font-family: 'calibri';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: #575757;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    color: #fff;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

header {
    background: #575757;
    width: 100%;
    display: flex;
    align-items: center;
    height: 2.2cm;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    color: #fff;
}

#logo {
    height: 125px;
    align-items: center;
    text-align: left;
}

#nombre {
    display: flex;
    color: rgb(255, 49, 49);
    text-align: left;
}

.menu {
    display: flex;
    width: 100%;
}

header nav li {
    display: inline-block;
    padding: 0 100px;
    position: relative;
}

/* Oculta el submenú por defecto */
.submenu {
    display: none;

    /* Posición absoluta para sacar del flujo normal */
    position: absolute;

    /* Color de fondo para el submenú */
    background: #575757;
}

/* Quita margenes y paddings de lista para evitar desplazamientos */
.submenu li {
    text-align: left;
    margin: 0;
    padding: 0;
}

/* Quita margen izquierdo y padding para alinear texto */
.submenu li a {
    padding-left: 0px;
    margin-left: 0;
}

/* Muestra el submenú al hacer hover en el padre */
li:hover .submenu {
    display: block;
}

.videos{
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-top: 5.5%;
}

#opinion{
    display: flex;
    width: 33%;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    color: #fff;
}

#YT{
    display: flex;
    width: 33%;
    margin-left: 1%;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    color: #fff;
}

.comentarios{
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.comentario1{
    display: flex;
    position: relative;
    margin-left: -35%;
    margin-top: 1%;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    color: #fff;
    border-radius: 20px;
}

.comentario2{
    display: flex;
    position: absolute;
    margin-top: 1%;
    margin-left: 35%;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    color: #fff;
    border-radius: 20px;
}

#externo{
    display: flex;
    margin-top: 3%;
    margin-left: 37%;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

a {
    text-decoration: none; 
  }